body {
    background-color: #f2f2f2;
    font-family: sans-serif;
  }
  
  .container {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background-color:aqua;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 60px 80px; /* Adjust the padding values as needed */
    text-align: center;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
  }
  
  h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: grey;
    text-align:start;
  }
  
  input[type="email"] {
    border: none;
    border-bottom: 1px solid black;
    opacity: 0.5;
    padding: 10px;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }
  
  .submit-btn {
    background-color:  #42A2A2;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: grey;
  }